.grid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-items: center;
    padding: 30px;
    }

.patient-card {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  }

.text {
    padding: 0 20px 20px;
  }
.patient-details-btn {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
    margin-bottom: 5px;
    text-decoration: none;
}