
.patient-card {
  max-width: 300px;
  min-width: 300px;
  }

.text {
    padding: 0 20px 20px;
  }
.patient-details-btn {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
    margin-bottom: 5px;
    text-decoration: none;
}

.row-margin-top-30{
  margin-top: 30px;
}

.row-margin-top-50{
  margin-top: 50px;
}

.margin-btm-2{
  margin-bottom: 10px;
}

@media (min-width: 34em) {
  .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }
}


