/* FOOTER */
.footer {
    width: 100%;
    display: block;
    margin-top: 1rem;
}


.social-media {
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.social-media a {
    text-decoration: none;
}

.social-media i {
    height: 25px;
    width: 25px;
    margin: 20px 10px;
    padding: 4px;
    color: whitesmoke;
    transition: 0.5s;
}

.social-media i:hover {
    transform: scale(2);
}

.footer-bottom {
    padding: 10px;
    color: rgb(206, 206, 206);
    font-size: 1em;
    text-align: center;
}

/* for mobile screen view */

@media screen and (max-width: 600px) {
    .space {
        margin-bottom: 8%;
    }
}