/*** <Carousel> ***/
.carousel-caption {
    background: black;
    opacity: 0.5;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30%;

}

.carousel-indicators {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.carousel-indicators>li {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    border: none;
}

.carousel-caption>h3,
.carousel-caption>p {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Fjalla One;
}

.carousel-caption>h3 {
    font-weight: bold;
}

/*** </Carousel> ***/


/*** <Instruction Box> ***/
.instructionBox {
    height: 100%;
    border-radius: 6px;
}

.instructionUL {
    padding-left: 5px;
}

/*** </Instruction Box> ***/

/* Bottom cards for A*STAR articles. */
.card-img-top {
    height: 180px;
}

/* Max-width means if screen is less or equal (Mobile screen). */
@media (max-width: 768px) {
    .carousel-caption>h3 {
        font-size: 3vw;
        line-height: 0;
    }

    .carousel-caption>p {
        font-size: 2.35vw;
    }

    .carousel-caption {

        height: 45%;
    }

    .instructionBox {
        margin-top: 3%;
    }
}

/* Min-width means if screen is more or equal (Wide screen). */
@media (min-width: 769px) {
    .carousel-caption>h3 {
        font-size: 2vw;
    }

    .carousel-caption>p {
        font-size: 1.35vw;
    }
}