* {
  box-sizing: border-box;
}

#searchInput {
  /* background-image: url('/css/searchicon.png'); */
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#usersUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#usersUL li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#usersUL li a:hover:not(.header) {
  background-color: #eee;
}


#filterSearch {
  height: 45px;
}

.fa-search {
  margin-left: 20px;
}


#searchButton:focus {
  outline: none;
  box-shadow: none;
}

/*** <FLOATING ACTION BUTTON> ***/
.floating-btn {
  width: 80px;
  height: 80px;
  /* background: #007b5e6c; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  color: black;
  /*if using text*/
  font-size: 40px;
  position: fixed;

  bottom: 20px;
  /*For the hover animation*/
  -webkit-transition-duration: var(--transition-speed);
  transition-duration: var(--transition-speed);
  z-index: 1000;

  /*<button>*/
  outline: black;
  border: none;
  cursor: pointer;
}

.floating-btn:focus {
  outline: 0;
}

.newUser-fab {
  background: white;
  color: black;
  right: 20px;
}

.newUser-fab:hover {
  background: black;
  color: white;
}


/*** </FLOATING ACTION BUTTON> ***/

/***** <Small Screens> *****/
@media only screen and (max-width: 600px) {
  .floating-btn {
    bottom: 90px;
  }
}


/***** </Small Screens> *****/