/*** <Navbar> ***/
.navbar-main {
    position: fixed;
    z-index: 1000;
    background-color: var(--bg-primary);
    transition: width var(--transition-speed) ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/** <Navbar Link> **/
.nav-item {
    width: 100%;
}

/* .nav-item:last-child {
    margin-top: auto;
} */

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
    font-size: 1.15rem;
    transition: var(--transition-speed);

}

.nav-link i,
.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.nav-item:hover i,
.nav-item:hover svg {
    transform: scale(1.5);
    transition: var(--transition-speed);
}

.nav-item:hover .link-text {
    transform: scale(1.5);
    transition: var(--transition-speed);
}

#nav-tab-diseases:hover .nav-link i {
    transform: rotate(180deg);
}

.fa-primary {
    color: #ff7eee;
}

.fa-secondary {
    color: #df49a6;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

/** </Navbar Link> **/

/** <Navbar Logo> **/
.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.25rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar-main:hover .logo svg {
    transform: rotate(-540deg);
}

/** </Navbar Logo> **/
/*** </Navbar> ***/


/***** <Small Screens> *****/
@media only screen and (max-width: 600px) {
    .navbar-main {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        border-top: 1px solid gray;
        background: var(--bg-secondary);
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    .nav-link:hover {
        filter: grayscale(0%) opacity(1);
        background: var(--bg-primary);
        color: var(--text-secondary);
    }

    .logout-logo {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .navbar-main:hover .logout-logo {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

/***** </Small Screens> *****/

/***** <Large Screens> *****/
@media only screen and (min-width: 600px) {
    .navbar-main {
        top: 0;
        width: 5rem;
        height: 100vh;
        border-right: 1px solid grey;
    }

    .navbar-main:hover {
        width: 16rem;
    }

    .navbar-main:hover .logout-logo {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .navbar-main:hover .link-text {
        display: inline;
    }

    .navbar-main:hover .logo svg {
        margin-left: 13rem;
    }

    .navbar-main:hover .logo-text {
        left: 0px;
    }
}

/***** </Large Screens> *****/