.container {
    column-gap: 30px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* background: rgb(117, 117, 117); */
    width: 100%;  
    height: 100%;  
  }

  /*DIV containing the search input and create*/
  #searchRPTcontain{
    margin-bottom: 2em; 
    margin-top: 2em; 
    width: 85%; 
    margin-left: auto; 
    margin-right: auto;
    display: flex;
  }

  #searchInput{
    margin-left: 2em;
    flex: 0 0 50%;
  }

  #createrpt{
    
    text-align: right;
    margin-right: 2em;
    flex: 1;
  }

  #class-report{
    margin-bottom: 1em;
    overflow: auto;
  }

  #rpt{
    text-align: center;
  }

  /*for dev and debugging purposes only*/
  #newPatientModal{
    text-align: center;
  }

  .w3-modal-content{
    width: 600px;
  }

  #createnfotable{
    margin-left: 2em;
  }

  .newDrugName{
    width: 100%;
  }
  .newDrugDose{
    width: 75%;
  }
  .move{
    width: fit-content;
  }

  #addMoreRows{
    margin-top: 1em;
  }

  .btn-SaveReport{
    width: 45%;
  }

  /* #drugInput{
    float: left;
    width: 30%;
  }
  #doseInput{
    float: right;
    width: 40%;
    margin-right: 25%;
  } */

  .divider{
    display: none;
  }

  #addon{
    margin-left: auto;
    margin-right: auto;
  }

  .firsttd{
    text-align: right;
  }
  .labeltd{
    text-align: left;
  }

  .shiftedrow1{
      padding-left: 40px;
      width: 25%;  
  }

  .shiftedrow2{
    width: 20%; 
  }

  .shiftedrow3{
    width: 25%; 
  }

  /*PATIENT INFO TABLE CSS*/
  .infoTable{
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    position: relative;
    width: 80%;
    text-align: center;
  }

  /* DEBUG: show table borders for designing purposes */
  /* table, th , td{
    border: 1px black solid;
  } */


  /*DOSAGE TABLE CSS*/
  .dosageTable {
    
    font-size: 14px;
    /* position: relative; */
    /* border: 1px solid black; */
    text-align: center;
    width: 100%;
  }
  
  .reportTD{
    width: 8em;
    text-align: left;
  }
  .reportFT{
    width: 3em;
    text-align: left;
  }
  .reportTSH{
    text-align: center;
  }
  .reportDRNA{
    width: 9em;
    text-align: left;
  }

  #prescriptionTable{
    margin-left: auto;
    margin-right: auto;
  }
  .table-info td, th{
    background-color: none;
  }

  /*PATIENT REPORT + GRAPH CSS*/
  #reportcontainer {
    width: 80%;
    margin-top: 10%;
    margin: auto;
    height: 450px;
    
    display: flex;
  }
  
  #historycontainer {
    /* width: 50%; */
    height: 420px;
    background: rgb(255, 255, 255);
    padding-right: 5%;
    flex: 0 0 50%;
  }
  
  #openGraphModalBtn {
    
    height: 450px;
    width: 320px;
    flex: 1;
  }
  
  .container > div > img {
    opacity: 0.5;
    border-radius: 25px;
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
    margin-bottom: 15px;
    margin-top: 15px;
    max-width: 500px;
  }
  

  #labelDate{
    padding-left:1em;
  }
  #labelFT4{
    padding-left:3em; padding-right:1em;
  }
  #labelTSH{
    padding-left:2.5em;
  }
  #labelDrug{
    padding-left:3.5em;
  }
  #labelDose{
    padding-left:3.5em;
  }

  #prescriptionButton{
    float: right;
  }
  #diagnosisbtn{
    float: left;
  }

  #createrptbtn1{
    margin-left: 1em;
    float: right;
  }
  #viewdosage{
    margin-left: 1em;
    float:left; 
    margin-bottom: 1em;
  }
  #tdAptDate{
    font-weight: bold;
  }


/* TODO: prescriptionModal, newReportModal for mobile */
@media only screen and (max-width: 600px) {
/* Adding margin-bottom so that content does not get blocked by the navigation bar*/
  .container {
    display: grid;
    /* column-gap: 30px; */
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    /* margin-bottom: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  }

  /* Force table to not be like tables anymore */
  .infoTable table,
  .infoTable thead,
  .infoTable tbody,
  .infoTable th,
  .infoTable td,
  .infoTable tr {
  display: block;
  width: 100%;
  }
  

  #missingInfo{
    margin-top: 60%;
  }

  #patientCardContent{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: center;
  }

  .shiftedrow{
    /* display: block;
    padding-left: 5px;
    margin-top: 0.5em; */
    float: left; 
    width: 100%
  }

  #searchRPTcontain{
      margin-bottom: 15em; 
      margin-top: 2em; 
      margin-right: auto;
      margin-left: auto;
      width: 90%;
      position: relative;
      display: block;
  }
  #searchInput{
    position: relative;
    float: left;
    width: 95%;
    z-index: 2;
    margin-bottom: 1em;
    flex: 0 0 100%;
  }
  #searchInputBox{
    width: 85%;
    
  }

  #createrpt{
    /* float: right;  */
    position: relative;
    text-align: center;
    width: 95%;
    z-index: 1;
    flex: 1;
  }
  #createrptbtn{
    margin-left: 1em;
    width: 85%;
  }

  /*PATIENT REPORT + GRAPH CSS*/
  #reportcontainer {
    width: 90%;
    margin-left: 2em;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    margin-bottom: 6em;
  }

  #historycontainer {
    /* width: 50%; */
    height: 420px;
    background: rgb(255, 255, 255);
    display: block;
    position: relative;
    z-index: 2;
  }

  #openGraphModalBtn {
    margin-top: 15em;
    margin-right: 5%;
    width: auto;
    height: 300px;
    display: block;
    position: relative;
    z-index: 1;
  }
      

  #class-report{
    height: 2em;
    overflow: auto;
  }


  /*DOSAGE TABLE CSS*/
  .dosageTable {
  
    font-size: 14px;
    /* position: relative; */
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 100%;
  }
  
  .reportTD{
    
    text-align: left;
  }
  .reportFT{
    padding-left: 1em;
    text-align: left;
  }
  .reportTSH{
    padding-left: 2em;
    text-align: left;
  }
  .reportDRNA{
    text-align: left;
  }

  #diseaseName{
    font-size: 28px;
  }

  /* create patient info drug name + drug dose */
  #createnfotable{
    margin-left: 1em;
  }

  .divider{
    display: block;
  }

  .newDrugName{
    width: 100%;
  }
  .newDrugDose{
    width: 100%;
  }

  .move{
    margin-left: 0em;
  }

  #newFT4{
    display: inline-block;
  }
  #newUnitDDL{
    display: inline-block;
  }

  #newTSH{
    width: 60%;
  }

  #addMoreRows{
    margin-top: 1em;
  }

  .custom-class{
      width: 100%; 
      display:block; 
  }
  #prescriptionButton{
    float: none;
  }
  #diagnosisbtn{
    float: none;
    margin-bottom: 1em;
  }
  #viewdosage{
    margin-left: 1em;
    float:right; 
    margin-bottom: 1em;
  }

  #graphcontainer{
    height: 250px;
  }


  #createrptbtn1{
    margin-bottom: 1em;
  }

}
  