#main-cont {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.form-container {
    background: rgb(84, 91, 98);
}


/*** <FLOATING ACTION BUTTON> ***/
.floating-btn {
    width: 80px;
    height: 80px;
    /* background: #007b5e6c; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    color: black;
    /*if using text*/
    font-size: 40px;
    position: fixed;

    bottom: 20px;
    /*For the hover animation*/
    -webkit-transition-duration: var(--transition-speed);
    transition-duration: var(--transition-speed);
    z-index: 1000;

    /*<button>*/
    outline: black;
    border: none;
    cursor: pointer;
}

.floating-btn:focus {
    outline: 0;
}

.setting-fab {
    background: white;
    color: black;
    right: 20px;
}

.setting-fab:hover {
    background: black;
    color: white;
}

.edit-fab {
    background: white;
    color: black;
    right: 120px;
}

.edit-fab:hover {
    background: black;
    color: white;
}

/*** </FLOATING ACTION BUTTON> ***/

/***** <Small Screens> *****/
@media only screen and (max-width: 600px) {
    .floating-btn {
        bottom: 90px;
    }
}


/***** </Small Screens> *****/


.tag-header {
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(88, 88, 88);
}


.diagnosis-class {
    cursor: pointer;
}
.diagnosis-class:hover {
    text-decoration-color: black;
}