/*** <General> ***/
#main-cont {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.form-container {
    background: rgb(84, 91, 98);
}

/*** </General> ***/


/*** <FLOATING ACTION BUTTON> ***/
.floating-btn {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    color: black;
    /*if using text*/
    font-size: 40px;
    position: fixed;

    bottom: 20px;
    /*For the hover animation*/
    -webkit-transition-duration: var(--transition-speed);
    transition-duration: var(--transition-speed);
    z-index: 1000;

    /*<button>*/
    outline: black;
    border: none;
    cursor: pointer;
}

.floating-btn:focus {
    outline: 0;
}

.setting-fab {
    background: white;
    color: black;
    right: 20px;
}

.setting-fab:hover {
    background: black;
    color: white;
}

.edit-fab {
    background: white;
    color: black;
    right: 120px;
}

.edit-fab:hover {
    background: black;
    color: white;
}

/*** </FLOATING ACTION BUTTON> ***/


/* MISC */
.tag-header {
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(88, 88, 88);
}

/*** <Diagnosis> ***/
.diagnosis-class {
    cursor: pointer;
}

.diagnosis-class:hover {
    text-decoration-color: black;
}

.diagnosisBtn:focus,
.diagnosisBtn:active {
    outline: none !important;
    box-shadow: none;
}

/*** </Diagnosis> ***/


/*** <Notification> ***/
.notification {
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
  }
  
  
  .notification .badge {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
  }
.notification-font {
    font-size: 16px;
}
.bold {
    font-weight: bold;
  }


/*** </Notification> ***/  

/*** <Small Screens> ***/
@media only screen and (max-width: 600px) {
    .floating-btn {
        bottom: 90px;
    }
    #allNotifications {
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 768px) {

    [class*="col-sm"] {
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
    }

}

/*** </Small Screens> ***/