/*FLOATING ACTION BUTTON*/
.floating-btn {
    width: 80px;
    height: 80px;
    /* background: #007b5e6c; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    color: black;
    /*if using text*/
    font-size: 40px;
    position: fixed;

    bottom: 20px;
    /*For the hover animation*/
    -webkit-transition-duration: var(--transition-speed);
    transition-duration: var(--transition-speed);
    z-index: 1000;

    /*<button>*/
    outline: black;
    border: none;
    cursor: pointer;
}

.setting-fab {
    right: 20px;
}

.setting-fab {
    /* background: rgba(228, 102, 83, 0.6); */
    background: white;
    color: black;
}

/* .setting-fab:active {
    background: rgba(228, 102, 83, 1);
    ;
} */

.setting-fab:hover {
    /* background: rgba(228, 102, 83, 1); */
    background: black;
    color: white;
}


.edit-fab {
    right: 120px;
}

.edit-fab {
    /* background: rgba(228, 102, 83, 0.6); */
    background: white;
    color: black;
}

.edit-fab:hover {
    /* background: rgba(228, 102, 83, 1); */
    background: black;
    color: white;
}


/***** <Small Screens> *****/
@media only screen and (max-width: 600px) {
    .floating-btn {
        bottom: 90px;
    }
}


/***** </Small Screens> *****/