/********** <Global stylesheet> **********/

:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --transition-speed: 600ms;
  --text-primary: #000000;
  --text-secondary: grey;
  --bg-primary: white;
  --bg-secondary: lightgrey;
}

body {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
}

/*** <Scrollbar> ***/
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--text-primary);
}

/*** </Scrollbar> ***/


/*** <Main> ***/
main {
  transition: var(--transition-speed);
  margin-left: 5rem;

}

.content {
  padding: 1rem;
}

.container {
  display: grid;
  column-gap: 30px;
  margin-left: 50px;
  margin-right: 50px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.centerText {
  text-align: center;
  position: relative;
}


.container > div > img {
  opacity: 0.5;
  border-radius: 25px;
  width: 100%;  
  height: 100%;  
  object-fit: cover;  
  margin-bottom: 15px;
  margin-top: 15px;
  max-width: 500px;
}

.centerTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

#navbar-html:hover+main {
  transition: var(--transition-speed);
  filter: grayscale(100%) opacity(0.3);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.disease-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*** </Main> ***/

/*** <Loading Screen> ***/

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid var(--text-primary);
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: var(--text-primary);
  animation: loader-inner 2s infinite ease-in;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

/*** </Loading Screen> ***/

/***** <Small Screens> *****/
@media only screen and (max-width: 600px) {
  main {
    margin: 0;
  }

  #navbar-html:hover+main {
    filter: grayscale(0%) opacity(1);
  }

  /* id="botcopy-embedder-d7lcfheammjct" */
  .botcopy--minimized-box {
    display: hidden !important;
  }

  /* Adding margin-bottom so that content does not get blocked by the navigation bar*/
  .container {
    display: grid;
    column-gap: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

/***** </Small Screens> *****/


/********** </Global stylesheet> **********/