/********** <Global stylesheet> **********/

:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --transition-speed: 600ms;
  --text-primary: #000000;
  --text-secondary: grey;
  --bg-primary: white;
  --bg-secondary: lightgrey;
}

body {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
}

/*** <Scrollbar> ***/
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--text-primary);
}

/*** </Scrollbar> ***/


/*** <Main> ***/
main {
  transition: var(--transition-speed);
  margin-left: 5rem;

}

.content {
  padding: 1rem;
}


#navbar-html:hover+main {
  transition: var(--transition-speed);
  filter: grayscale(100%) opacity(0.3);
}


/*** </Main> ***/

/*** <Loading Screen> ***/

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid var(--text-primary);
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: var(--text-primary);
  animation: loader-inner 2s infinite ease-in;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: var(--bg-primary); SEE HOW*/
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

/*** </Loading Screen> ***/

/***** <Small Screens> *****/
@media only screen and (max-width: 600px) {
  main {
    margin: 0;
  }

  #navbar-html:hover+main {
    filter: grayscale(0%) opacity(1);
  }

  /* id="botcopy-embedder-d7lcfheammjct" */
  .botcopy--minimized-box {
    display: hidden !important;
  }
}


/***** </Small Screens> *****/


/*** <Bootstrap Containers> ***/
@media (min-width: 768px) {
  .container-small {
    width: 500px;
  }

  .container-medium {
    width: 735px;
  }

  .container-large {
    width: 970px;
  }
}

@media (min-width: 992px) {
  .container-small {
    width: 500px;
  }

  .container-medium {
    width: 735px;
  }

  .container-large {
    width: 1170px;
  }
}

@media (min-width: 1200px) {
  .container-small {
    width: 700px;
  }

  .container-medium {
    width: 1100px;
  }

  .container-large {
    width: 1500px;
  }
}

.container-small,
.container-medium,
.container-large {
  max-width: 100%;
}

/*** </Bootstrap Containers> ***/


/*** <Bootstrap Floating Label> ***/
:root {
  --input-padding-x: .75rem;
  --input-padding-y: .65rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: 45px;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .4s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/*** </Bootstrap Floating Label> ***/


/*** Misc ***/
.bold {
  font-weight: bold;
}

.hide {
  display: none;
}

.white-text {
  color: white;
}

button:focus,
button:active {
    outline: none !important;
    box-shadow: none !important;
}

.page-heading {
  margin-bottom:3%;
}

/********** </Global stylesheet> **********/