USE [master]
GO
/****** Object:  Database [StudentDetails]    Script Date: 4/8/2020 9:37:56 PM ******/
CREATE DATABASE [StudentDetails]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentDetails', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\StudentDetails.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentDetails_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\StudentDetails_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentDetails].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentDetails]
GO
/****** Object:  Table [dbo].[Student1]    Script Date: 4/8/2020 9:37:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[studentName] [nvarchar](255) NOT NULL,
	[studentClass] [nvarchar](255) NOT NULL,
	[studentCourse] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Student1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Student1] ON 

INSERT [dbo].[Student1] ([id], [studentName], [studentClass], [studentCourse]) VALUES (1, N'Stonks', N'P03', N'ITO')
INSERT [dbo].[Student1] ([id], [studentName], [studentClass], [studentCourse]) VALUES (2, N'Hean', N'P04', N'IIT')
INSERT [dbo].[Student1] ([id], [studentName], [studentClass], [studentCourse]) VALUES (3, N'Albert Tan', N'P01', N'CMM')
SET IDENTITY_INSERT [dbo].[Student1] OFF
GO
USE [master]
GO
